@charset "UTF-8";
.scr{
    overflow-x: scroll;
}
.pro_qty
{
	background-color:darkseagreen !important;
	text-align: right !important;
	min-width: 100px;
}

.pro_nm
{
	background-color:azure;
	text-align: center !important;
	width: 100px;
}

.customer_lst
{
	background-color: cornflowerblue !important;
	width: 200px;
}

.item_tot
{
	background-color: darkkhaki !important;
}

.right_side
{
	text-align: right !important;
}
.orddate{
	margin-bottom: 20px;
	border: 1px solid black !important;
	width: 165px !important;
}
.searchbtn{
	margin-top: 5px !important;
	border: 1px solid black !important;
}