@charset "UTF-8";
.scr{
    position: absolute;
    overflow-x: scroll;
    border-collapse: separate  !important;
}
.pro_qty
{
	background-color: #167F92 !important;
    text-align: right !important;
    min-width: 100px;
    text-align: center !important;
    font-size: 20px;
    margin: 4px 0 0 -12px !important;
    color:white  !important;
    border-color: #728e8a;
    border:1px solid #728e8a !important;
}

.pro_nm
{
    background-color: #85bfca;
    text-align: center !important;
    width: 100px;
    font-size: 17px;
    color:#55556f;
    border:1px solid #728e8a !important;
}

.customer_lst
{
	width: 200px;
    background: #85bfca !important;
    text-align: center;
    font-size: 16px;
    color:#55556f;
    word-break:break-all;
}

.item_tot
{
	background-color: #167F92 !important;
	font-size: 20px;
	color:white;
	border-color: #728e8a;
	border:1px solid #728e8a!important;
}
.right_side{
	border:1px solid #728e8a!important;
    border-color: #728e8a !important;
}
.right_side
{
	text-align: right !important;
}
.orddate{
	margin-bottom: 20px;
	border: 1px solid #728e8a !important;
	/*width: 150px !important;*/
	height: 40px !important;
}
.searchbtn{
	margin-top: 5px !important;
	border: 1px solid #728e8a !important;
}
.input_style{
    text-align: center !important;
    font-size: 20px !important;
    color: darkred !important;
    font-weight: bold !important;
}
.total_style{
    text-align: center !important;
    font-size: 20px !important;
    color: white !important;
    font-weight: bold !important;
    margin: 4px 0 0 -12px !important;
    border-color: #728e8a;
}
.customer_lst h4{
    margin-left:5px;
}
.scr .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: Lavender !important;
}
.scr .form-control{
    /*background-color: Lavender;*/
    border: none !important;
    box-shadow: none !important;
}
.scr td{
    vertical-align: middle !important;
    border-color:#728e8a;
    border:1px solid #728e8a;
}
.input_td{
 background: Lavender;
}
.item_tot h4 {
    margin-left: 5px;
}
.searchbtn{
    line-height: normal !important;
    background: #4CAF50 !important;
    border: none !important;
    color: white !important;
    padding: 4px 15px !important;
    /* background: #4CAF50; */
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    font-weight: bold !important;
    margin-left:3% !important;
}
#left_panel_toggle{
   line-height: normal !important;
    background: cadetblue !important;
    border: none !important;
    color: white !important;
    padding: 10px 15px !important;
    /* background: #4CAF50; */
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    font-weight: bold !important;
    float:left;
}
.scr button{
   line-height: normal;
    background-color: #4CAF50;
    border: none;
    color: slategray;
    padding: 8px 8px;
    /* background: #4CAF50; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.customer_label{
     background: #167F92!important;
    color: white;
    border-color: #728e8a;
    text-align:center;
     font-size: 25px;
    font-weight: bold;
    border: 1px solid #728e8a !important;
    
}
.total{
    background:#167F92 !important;
    color:white;
    border-color: #728e8a;
}
.right_side_total{
    background:#85bfca !important;
    color:white;
    border-color: #728e8a;
}
.bottom_side_total{
    background:#167F92 !important;
    color:white;
    border-color: #728e8a;
}

.table_list{
   position: absolute;
   height: 88%;
   overflow: auto;
   width: 96%;
}
.delivery_table_list{
     position: absolute;
    height: 80%;
    overflow: auto;
    width: 96%;
}
.h1{
	background: #167F92;
	color: white;
}
.total_qty{
	background:#85bfca !important;
	color:white;text-align: right;
	border-color: #728e8a;
	border: 1px solid #728e8a !important;
}